%table.table
  %tbody
    - users.each do |user|
      %tr
        %td{ scope: 'row' }= user.full_name
        %td= link_to t('.show_posts', count: user.posts_count), posts_path(user_id: user.id), data: { turbo: false },
          class: 'btn btn-link'
        - if subscribed_to?(user)
          %td= button_to t('.unsubscribe'), subscription_path(user), method: :delete, data: { turbo: false },
            class: 'btn btn-danger'
        - else
          %td= button_to t('.subscribe'), subscriptions_path(id: user.id), method: :post,
            data: { turbo: false }, class: 'btn btn-primary'
